<h2>TicketScholar</h2>

  <button>My tickets</button>
  <button>Sign in</button>
  <nav>
    {{!-- nav here --}}
  </nav>
  <section>
    {{!-- carousel --}}
  </section>
  <section>
    {{!-- carousel --}}
  </section>
<script src="/public/js/homefunction.js"></script>