<div id="sign-in" class="dropdown-menu">
  <form class="px-4 py-3">
    <div class="form-group">
      <label for="#email-login">Email address</label>
      <input
        type="email"
        class="form-control"
        id="#email-login"
      />
    </div>
    <div class="form-group">
      <label for="#password-login">Password</label>
      <input
        type="password"
        class="form-control"
        id="#password-login"
      />
    </div>
    <button type="submit" class="btn btn-primary">Sign in</button>
  </form>
  <div class="dropdown-divider"></div>
  <a class="dropdown-item" href="./signup.handlebars">New around here? Sign up</a>
</div>

<script src="/utils/login.js"></script>