<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Ticket Scholar</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
          integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" 
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:light,extralight,thin,regular,bold,semibold,medium,extrabold,black&display=swap">
    <link href="../../public/styles/dark-mode.css" rel="stylesheet"/>
    <link href="../../public/styles/index.css" rel="stylesheet">

</head>

<body>
<header> 
  <div class="container-fluid">
    <nav class="navbar">
      <nav class="navbar-nav">
        <div class="title">
          <img src="../../public/images/ticketmaster - 11@2x.png" id="logo" alt="TicketScholar Logo" style="width: 20rem;">
          <div class="search ml-4 p-2">
          <i class="fa-solid fa-magnifying-glass fa-2x ml-2 i"></i>
            <form>
              <input type="search" class="ml-3 text-dark" id="searchBar" name="searchBar" placeholder="Artist or City">
            </form>
          </div>
        </div>
      </nav>
      <div>
      <nav class="navbar-nav anchors">
        <div class="nav-link mx-3">
          <div>
            <a href="#">My Tickets</a>
          </div>
        </div> 
      </nav>
      <nav class="navbar-nav anchors">
        <div class="nav-link mx-3"> 
          <div>
            <a href="#">Sign In</a>
          </div>
        </div>
      </nav>
      <nav class="navbar-nav anchors">    
        <div class="nav-link">
          <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="darkSwitch">
            <label class="custom-control-label pl-2" id="label" for="darkSwitch"></label>
          </div>
        </div>
      </div>  
    </div>
    </nav>
  </div>
  <div class="container-fluid">
    <nav class="navbar justify-content-center">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Concerts</a></li>
          <li class="breadcrumb-item"><a href="#">Comedy & Theater</a></li>
          <li class="breadcrumb-item"><a href="#">Sports Teams</a></li>
          <li class="breadcrumb-item"><a href="#">Top Cities</a></li>
        </ol>
      </nav>
    </nav>
  </div>  
  </header>

  <main>
    <div class="container-fluid">
      <h3 class="ml-3">Recently Viewed</h3>
      <div class="row ml-3">       
        <div class="card col-3 p-0 mr-4">
          <img class="card-img-top" src="..." alt="Card img top">
          <div class="card-body p-0">
            <h5 class="card-title">Date & Time</h5>
            <h5 class="card-title">Name of Band</h5>
            <p class="card-text">Location</p>
          </div>
        </div>
        <div class="card col-3 p-0 mr-4">
          <img class="card-img-top" src="..." alt="Card img top">
          <div class="card-body p-0">
            <h5 class="card-title">Date & Time</h5>
            <h5 class="card-title">Name of Band</h5>
            <p class="card-text">Location</p>
          </div>
        </div>
        <div class="card col-3 p-0 mr-4">
          <img class="card-img-top" src="..." alt="Card img top">
          <div class="card-body p-0">
            <h5 class="card-title">Date & Time</h5>
            <h5 class="card-title">Name of Band</h5>
            <p class="card-text">Location</p>
          </div>
        </div>
      </div>
    </div>
  </main>

    <script src="https://code.jquery.com/jquery-3.6.1.js" 
            integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" 
            crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js" 
            integrity="sha512-2rNj2KJ+D8s1ceNasTIex6z4HWyOnEYLVC3FigGOmyQCZc2eBXKgOxQmo3oKLHyfcj53uz4QMsRCWNbLd32Q1g=="
            crossorigin="anonymous" referrerpolicy="no-referrer">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" 
            integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" 
            crossorigin="anonymous">
    </script>
    <script src="https://kit.fontawesome.com/f4975ee129.js" 
            crossorigin="anonymous"></script>
    </script>
    <script src="../../public/scripts/dark-mode-switch.js"></script>
</body>