.title, .search, form {
    padding: 10px;
    display: flex;
    border-radius: 30px;
    vertical-align: baseline;
}
.navbar {
    padding: 0px;
}
.search {
    background-color: #e5e4e2;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
}
a {
    font-weight: bold;
}
.search i {
    transition: none;
    align-self: center;
}
h2, h3 {
    align-self: center;
}
#searchBar {
    padding: 0;
    align-self: stretch;
    background-color: transparent;
    border: 0px;
}
.anchors {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
}
input:focus {
    outline: none;
    border: 0px;
}
.breadcrumb {
    font-weight: bold;
    background-color: transparent;
}
header {
    border-bottom: 1px solid grey;
    margin-bottom: 50px;
}
.card {
    border: none;
    background-color: transparent;
}
.h3Deals {
    display: flex;
    justify-content: center;
}
.newsLetter {
    margin-top: 90px;
    margin-bottom: 50px;
}
footer {
    border-top: 1px solid grey;
}
.footer {
    display: flex;
    text-align: start;
}
.divColumn ul {
    list-style-type: none;
    padding-left: 0px;
}
li {
    line-height: 30px;
}
.securityList {
    font-size: smaller;
}

/* beginning for carousel style*/
* {
    margin: 0;
    padding: 0;
    font-family: "Mulish", sans-serif;
  }

  /* PRODUCTS */
  .product {
    position: relative;
    overflow: hidden;
    padding: 20px;
  }
  
  .product-category {
    padding: 0 10vw;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 40px;
    text-transform: capitalize;
  }
  
  .product-container {
    padding: 0 10vw;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
  }
  
  .product-container::-webkit-scrollbar {
    display: none;
  }
  
  .product-card {
    flex: 0 0 auto;
    width: 250px;
    height: 300px;
    margin-right: 40px;
  }
  
  .product-image {
    position: relative;
    width: 100%;
    height: 200px;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .card-btn {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    width: 90%;
    text-transform: capitalize;
    border: none;
    outline: none;
    background: #fff;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
    opacity: 0;
  }
  
  .product-card:hover .card-btn {
    opacity: 1;
  }
  
  .card-btn:hover {
    background: #ff7d7d;
    color: #fff;
  }
  
  .product-info {
    width: 100%;
    height: 100px;
    padding-top: 10px;
  }
  
  .product-title {
    text-transform: uppercase;
  }
  
  .product-short-description {
    width: 100%;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    opacity: 0.5;
    text-transform: capitalize;
    margin: 5px 0;
  }
  
  .pre-btn,
  .nxt-btn {
    border: none;
    width: 10vw;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
    cursor: pointer;
    z-index: 8;
  }
  
  .pre-btn {
    left: 0;
    transform: rotate(180deg);
  }
  
  .nxt-btn {
    right: 0;
  }
  
  .pre-btn img,
  .nxt-btn img {
    opacity: 0.2;
  }
  
  .pre-btn:hover img,
  .nxt-btn:hover img {
    opacity: 1;
  }
  /* end for carousel style*/
