.title, .search, form {
    padding: 10px;
    display: flex;
    border-radius: 30px;
    vertical-align: baseline;
}
.search {
    background-color: #e5e4e2;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
}
a {
    font-weight: bold;
}
.search i {
    transition: none;
    align-self: center;
}
h2, h3 {
    align-self: center;
}
#searchBar {
    padding: 0;
    align-self: stretch;
    background-color: transparent;
    border: 0px;
}
.anchors {
    margin-left: auto;
}
input:focus {
    outline: none;
    border: 0px;
}
.breadcrumb {
    font-weight: bold;
    background-color: transparent;
}
header {
    border-bottom: 1px solid grey;
    margin-bottom: 50px;
}
.card {
    border: none;
    background-color: transparent;
}
.h3Deals {
    display: flex;
    justify-content: center;
}
.newsLetter {
    margin-top: 90px;
    margin-bottom: 50px;
}
footer {
    border-top: 1px solid grey;
}
.footer {
    display: flex;
    text-align: start;
}
.divColumn ul {
    list-style-type: none;
    padding-left: 0px;
}
li {
    line-height: 30px;
}
.securityList {
    font-size: smaller;
}
