body {
    font-family: "Poppins", sans-serif;
}
.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 123, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.custom-toggler.navbar-toggler {
    border-color: rgb(0, 123, 255);
}
.nav-link{
    text-align: end;
}
.navbar-expand-sm .navbar-collapse {
    justify-content: flex-end;
} 
.jumbotron {
    background-image: url(../images/01-blossoming-apricot.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
.ticket-card {
    padding: 8px 12px;
    flex-direction: column;
    margin-bottom: 40px;
    border-bottom: 1px solid grey;
}
.description {
    display: flex;
    flex: 1 0 auto;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
}   
.button-div {
    display: flex;
    flex-direction: row-reverse;
    margin-right: 10px;   
}
.btn {
    letter-spacing: .5px;
    width: 180px;
}
@media (max-width: 423px) {
.navbar {
    flex-direction: column;
    align-items: unset;
}
.navbar-toggler {
    align-self: flex-end;
}
}
